
<header>
    <nav class="navbar">
        <h2 id="nav-logo"><a href="/"><span class="dark-shade">Scissor</span><span class="red">k</span></a></h2>
        <ul class="nav-menu">
            <li id="dashboard-link" class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li id="dashboard-link" class="nav-item"><a href="/pages/dashboard" class="nav-link">Dashboard</a></li>
            <li id="dashboard-link" class="nav-item"><a href="/pages/signup" class="nav-link">Sign Up</a></li>
            <li id="dashboard-link" class="nav-item"><a href="/pages/signin" class="nav-link">Sign In</a></li>
            <li id="dashboard-link" class="nav-item"><a href="/auth/logout" class="nav-link">Logout</a></li>
        </ul>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
    
