<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shorten Url</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <script src="/js/main.js" defer></script>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h2 class="page-heading">Shorten URL</h2>
        <div class="container">
            <form action="/api/urls/shorten" method="POST">
                <div class="form-control">
                    <label for="long-url">URL</label><br>
                    <input type="text" name="longUrl" id="long-url" placeholder="Paste URL to shorten here" required>
                </div>
                <div class="form-control">
                    <label for="custom-domain">Custom Domain (Optional)</label><br>
                    <input type="text" name="customDomain" id="custom-domain" placeholder="Provide a Custom Domain (Optional)">
                </div>
                <div class="form-control">
                    <label for="description">Description</label><br>
                    <textarea name="description" id="description" cols="30" rows="5" required placeholder="Enter a short description for the URL..."></textarea>
                </div>
                <div class="form-control">
                    <input type="submit" value="Shorten"> 
                </div>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>