#home-signup-button {
    display: block;
    padding: 20px;
    border: none;
    background-color: tomato;
    color: white;
    text-decoration: none;
    width: 120px;
    text-align: center;
    margin: 0 auto;
    margin-top: 1.3em;

}

.container .desc {
    text-align: center;
    color: rgba(0, 0, 0, 0.61);
}


#home-signup-button:hover {
    background-color: rgba(255, 99, 71, 0.911);
}

.container p {
    line-height: 1.6;
    font-weight: bold;
    font-size: 1.4em;
}



/* Mobile view*/
@media (max-width: 700px) {

    #home-signup-button {
        padding: 10px;
    }
}