* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.page-heading {
    text-align: center;
    color: tomato;
    margin-bottom: 0.7em;
}

main {
    width: 100%;
    margin-top: 2.6em;
}
.container {
    margin: 0 auto;
    width: 700px;
}


/* Styling the Header and Hamburger */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: tomato;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    margin-left: 2.1em;
}

.nav-link{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.692);
}

.nav-link:hover{
    color: tomato;
}


#empty-space {
    margin-top: 220px;
}

footer {
    margin-bottom: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.699);
}

#nav-logo {
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav-logo a {
    text-decoration: none;
}

#nav-logo .dark-shade {
    color: rgba(0, 0, 0, 0.836);
}

#nav-logo .red {
    color: tomato;    
}

footer {
    font-size: 0.9em;
}

footer .dark-shade {
    color: black;
}

footer p a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

footer p a:hover {
    color: tomato;
    border-bottom: 0;
}




/* Forms */
.container {
    width: 50%;
    margin: 0 auto;
}

.container form {
    width: 60%;
    margin: 0 auto;
}

form+p {
    text-align: center;
    font-size: 0.9em;
}

form .form-control {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.3em;
    /* border: 1px solid black; */
}

.form-control input, .form-control textarea {
    width: 94%;
    padding: 10px;
    border-radius: 7px;
}

.submit-button {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
}

input[type="submit"] {
    width: 100%;
    display: block;
    background-color: tomato;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 7px;
}

input[type="submit"]:hover {
    background-color: rgba(255, 99, 71, 0.788);
}


/* Pagination */
.pagination {
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
}


.pagination a {
    border: none;
    padding: 0.8em;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    text-decoration: none;
    margin-right: 0.5em;
}

.pagination a:hover {
    background-color: rgba(0, 0, 0, 0.733);
}



  
@media (max-width: 700px) {
    .container {
        width: 90%;
        padding: 0.8em;      
    }

    .container .desc {
        font-size: 0.7em;
        line-height: 2.6;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        color: tomato;
        font-size: 1.5em;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    footer {
        font-size: 0.6em;
    }
}