.container {
    display: grid;
    width: 80%;
    grid-template-columns: 200px 1fr;
    padding: 2.1em;
    margin: 0;
    margin-top: 1em;
}


.url-items {
    text-align: center;
    width: 900px;
}

.url-items div {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1em;
}

.url-items div input {
    width: 100%;
    margin: 0 auto;
}

.description input, .short-url input {
    background-color: rgba(0, 0, 0, 0.068);
    padding: 1.2em;
    border-radius: 5px;
    border: none;
}

.qrcode {
    margin-top: 1.6em;
    margin-bottom: 3.5em;
    text-align: center;
}

.qrcode h3 {
    font-size: 0.8em;
    margin-bottom: 2.3em;
}


#view-url-sidebar {
    text-align: center;
}

#view-url-sidebar li {
    list-style-type: none;
    padding: 0.8em;
    background-color: tomato;
    margin-bottom: 0.8em;
    font-size: 0.9em;
    border-radius: 5px;
}

#view-url-sidebar li:hover {
    background-color: rgba(255, 99, 71, 0.664);
}

#view-url-sidebar li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0 auto;
}

#copy {
    display: block;

    margin: 0 auto;
    margin-top: 1em;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.888);
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    color: white;
}

#copy:hover {
    background-color: rgba(0, 0, 0, 0.588);
}

#empty-space {
    margin-top: 90px;
}



/* Mobile view*/
@media (max-width: 700px) {

    .container {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    #view-url-sidebar, .url-items {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }

    .url-items div {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1.5em;
    }

    .url-items div input {
        width: 85%;
    }

    .qrcode {
        font-size: 0.9em;
    }

    .url-items div h3 {
        font-size: 0.8em;
        text-align: center;
    }

    .url-items .description {
        margin-top: 1.9em;
    }

    #copy {
        display: block;
        width: 100%;
    }

    input {
        font-size: 0.8em;
    }
}